@{
    ViewBag.Title = "Thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/information.css" />

<div class="infor">
    <div class="banner">
        <img src="@Url.Content("~/Content/images/information_main_picture.jpg")" alt="banner-infor" />
    </div>

    <div class="content content1">
        <img src="@Url.Content("~/Content/images/content1.jpg")" alt="img content 1" />
        <div class="text-content">
            <h1>ĐI ĐẦU TRONG VIỆC KẾ THỪA HƯƠNG VỊ TRÀ TRUYỀN THỐNG</h1>
            <p>
                Vào năm 2019, nhằm truyền bá hương vị thơm ngon của trà Đài Loan,
                Hồng Trà Ngô Gia Đài Loan đã có mặt tại khu vực miền Nam Việt Nam.
                Vì là loại trà thơm ngon, tự nhiên và tốt cho sức khỏe nên Hồng Trà Ngô Gia rất được ưa chuộng
                và nhanh chóng nổi tiếng. Đến nay đã có hơn 400 cửa hàng trên cả nước,
                trở thành đơn vị đi đầu trong việc kế thừa hương vị trà truyền thống.
            </p>
        </div>
    </div>

    <div class="content content2">
        <img src="@Url.Content("~/Content/images/content2.jpg")" alt="img content2" />
        <div class="text-content">
            <h1>TRIẾT LÝ KINH DOANH</h1>
            <p>
                Hồng Trà Ngô Gia không chỉ mở cửa hàng trực tiếp mà còn mở nhượng quyền kinh doanh,
                thay thế hình thức cửa hàng bằng hình thức xe đẩy trà bán hàng,
                giảm đáng kể chi phí hoạt động và sử dụng kết cấu trà đặc trưng chuyên nghiệp
                để tạo sự khác biệt cho thị trường.
            </p>
            <p>
                Hiện nay đã thành công tạo ra một trải nghiệm Đài Loan và sẽ tiếp tục mở rộng,
                trong tương lai sẽ tạo nên một cơn sốt mới...
            </p>
        </div>
    </div>

    <div class="content content3">
        <img src="@Url.Content("~/Content/images/content3.jpg")" alt="img content3" />
        <div class="text-content">
            <h1>SỰ BỀN BỈ CỦA THƯƠNG HIỆU</h1>
            <p>
                Hồng Trà Ngô Gia đã được khẳng định trong nhiều năm,
                là một thức uống hoàn toàn tự nhiên, không có chất bảo quản và hương vị nhân tạo...
            </p>
            <p>
                Việc kiểm soát chất lượng nghiêm ngặt như vậy là sự tuân thủ thương hiệu một cách không vụ lợi...
            </p>
            <p>
                Ngoài thức uống truyền thống...
            </p>
        </div>
    </div>
</div>
