.cart-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    padding: 20px;
    border-radius: 8px;
}

.table {
    border-radius: 8px;
    overflow: hidden;
}
    .table tr {
        border-bottom: 1px solid #eee;
        align-content: center;
    }
.btn-outline-primary:hover {
    background-color: #0d6efd;
    color: #fff;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}
