body {
    font-family: 'pacifico', cursive, sans-serif;
    background-color: #f9f9f9;
}
.infor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden; /*tránh phần thừa*/
}

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);/*làm mờ ảnh*/
        border-radius: 10px;
    }

.content {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 60px 0;
}
.content1,
.content3 {
    flex-direction: row-reverse;
}
.content2 {
    flex-direction: row;
}

.content img {
    flex-shrink: 0;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.text-content {
    flex: 1;
}

    .text-content h1 {
        font-size: 26px;
        color: #222;
        margin-top: 0;
        margin-bottom: 15px;
        font-family: 'Pacifico', cursive, sans-serif;
    }

    .text-content p {
        font-size: 16px;
        color: #555;
        margin-bottom: 12px;
    }
