@model IEnumerable<BobaTea.Models.OrderPro>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Danh sách đơn hàng</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn</th>
            <th>Khách hàng</th>
            <th>Ngày đặt</th>
            <th>Địa chỉ giao</th>
            <th>Chi tiết</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>

                <td>
                    @(item.Customer != null
                        ? item.Customer.NameCus
                        : "Không có dữ liệu")
                </td>

                <td>
                    @item.DateOrder
                </td>

                <td>@item.AddressDeliverry</td>

                <td>
                    <a href="/Admin/Orders/Details/@item.ID"
                       class="btn btn-primary">Xem</a>

                    <a href="/Admin/Orders/Delete/@item.ID"
                       class="btn btn-danger">

                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
